<p id="notice"><%= notice %></p>

<h1>Listing Sublots</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sublots.each do |sublot| %>
      <tr>
        <td><%= sublot.code %></td>
        <td><%= sublot.name %></td>
        <td><%= sublot.user_id %></td>
        <td><%= sublot.description %></td>
        <td><%= link_to 'Show', sublot %></td>
        <td><%= link_to 'Edit', edit_sublot_path(sublot) %></td>
        <td><%= link_to 'Destroy', sublot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sublot', new_sublot_path %>
