<p>
  <strong>Código:</strong>
  <%= @sublot.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sublot.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @sublot.description %>
</p>

<%= link_to 'Edit', edit_sublot_path(@sublot) %> |
<%= link_to 'Back', sublots_path %>
