<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

<h1 class="x_title">
<i class="glyphicon glyphicon-leaf titleicon"></i>
Listar Novedades de nómina
</h1>

<%= link_to new_admin_novelty_path , :class =>"btn btn-dark pull-right" do%>
  <span class="glyphicon glyphicon-plus"></span>
  Registrar novedades de nómina
<% end %>

<table id="datatable" class="display datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Empleado</th>
      <th>Cargo</th>
      <th>Labor</th>
      <th>Cantidad labor</th>
      <th>Cantidad jornal</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @novelties.each do |novelty| %>
      <tr>

        <td><%= novelty.supervisor.cc + " " + novelty.supervisor.name + " " + novelty.supervisor.lastname %></td>
        <td><%= novelty.supervisor.jobs.first.name %></td>
        <td><%= novelty.labor.code + " " + novelty.labor.name %></td>
        <td><%= novelty.laboramount %></td>
        <td><%= novelty.wageamount %></td>
        <td>
          <%= link_to edit_admin_novelty_path(novelty),:class =>"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          <%end%>

          <%= link_to admin_novelty_path(novelty),:class =>"btn btn-default btn-sm", method: :delete, data: { confirm: '¿Seguro desea eliminar el registro?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Eliminar
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>