<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Listar Supervisores
</h1>

<%= link_to new_admin_supervisor_path , :class =>"btn btn-dark pull-right" do %>
  <span class="glyphicon glyphicon-plus"></span>
  Crear supervisor
<% end %>

<table id="datatable" class="display datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Cargo</th>      
      <th>Estado</th>
      <th>Fecha de ingreso</th>
      <th>Fecha de retiro</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @supervisors.each do |supervisor| %>
      <% if supervisor.flag == 1 %>
        <tr>
          <td><%= supervisor.cc %></td>
          <td><%= supervisor.name.to_s + " " + supervisor.lastname %></td>
          <td><%= supervisor.jobs.map { |e| e.name }.join("<br>").html_safe %></td>
          <td><%= supervisor.state %></td>

              <% if supervisor.state == "Activo" %>
                <td><%= supervisor.dateadmission %></td>
                <td><%=  %></td>
              <% end %>

              <% if supervisor.state == "Retirado" %>
                <% if supervisor.records.where(state: "Reintegrado").order("id desc").first.present? %>
                  <td><%= supervisor.records.where(state: "Reintegrado").order("id desc").first.reinstatedate %></td>
                  <td><%= supervisor.records.where(state: "Retirado").order("id desc").first.retirementdate %></td>
                <% else %>
                  <td><%= supervisor.dateadmission %></td>
                  <td><%= supervisor.records.where(state: "Retirado").order("id desc").first.retirementdate %></td>
                <% end %>
              <% end %>

              <% if supervisor.state == "Reintegrado" %>
                <td><%= supervisor.records.where(state: "Reintegrado").order("id desc").first.reinstatedate %></td>
                <td><%=  %></td>
              <% end %>
          
          <td>
          <%= link_to admin_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-eye-open"></span>
            Ver
          <% end %>

          <%= link_to edit_admin_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          <% end %>

          <%= link_to admin_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" , method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Eliminar
          <% end %>

          <%if supervisor.state=="Activo"%>
            <%= link_to admin_retire_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-import"></span>
              Retirar
            <% end %>
          <%end%>

          <%if supervisor.state=="Retirado" and supervisor.retirementdate != " "%>
            <%= link_to admin_reinstate_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-export"></span>
              Reintegrar
            <% end %>
          <%end%>

          <%if supervisor.state=="Reintegrado" and supervisor.retirementdate != " "%>
            <%= link_to admin_retire_supervisor_path(supervisor),:class =>"btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-import"></span>
              Retirar
            <% end %>
          <%end%>

          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "../files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>
