<%= stylesheet_link_tag    'selectize.bootstrap3', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'selectize', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'plugin', 'data-turbolinks-track' => true %>

<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Crear Supervisor
</h1>

<%= form_for @supervisor , url:{action: "create"} do |f| %>

  <% if @supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>
      <ul>
        <% @supervisor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-12 field">
    <div class="col-md-3">
      <%= f.label :cc, "Cédula"%>
      <%= f.text_field :cc , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :name, "Nombres"%>
      <%= f.text_field :name , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :lastname, "Apellidos"%>
      <%= f.text_field :lastname , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :gender, "Género" %>
      <%= f.select :gender, ["Femenino","Masculino"], {prompt: ""},class:"form-control"%>
    </div>
  </div>

  <div class="form-group col-md-12 field">
    <div class="col-md-3">
      <%= f.label :dateadmission, "Fecha de ingreso" %>
      <%= f.text_field :dateadmission , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :jobs2, "Cargo"%>
      <%= f.select :jobs2, Job.where(state: "Activo").map { |j|  [ j.name , j.id ]  } , {}, {:multiple => true, class:"form-control"} %>
    </div>
    <div class="col-md-3">
      <%= f.label :basepay, "Baśico" %>
      <%= f.text_field :basepay , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :transportAllowance, "Auxilio de transporte" %>
          <%= f.select :transportAllowance, ["Completo","Mitad","No aplica"], {prompt: ""},class:"form-control"%>
    </div>
  </div>

  <div class="form-group col-md-12 field">
    <div class="col-md-3">
      <%= f.label :feedingAllowance, "Auxilio de alimentación No Prestacional" %>
      <%= f.text_field :feedingAllowance , class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :vehicleAllowance, "Auxilio de rodamiento No Prestacional" %>
      <%= f.text_field :vehicleAllowance, class:"form-control"%>
    </div>
    <div class="col-md-3">
      <%= f.label :housingAllowance, "Auxilio de vivienda No Prestacional" %>
      <%= f.text_field :housingAllowance, class:"form-control"%>
    </div>
    <div class="col-md-3">
        <%= f.label :billingc_id, "Centro de facturación"%>
        <%= f.select :billingc_id , Billingc.all.map { |j|  [ j.name , j.id ]  } , {prompt: ""}, class:"form-control"%>
    </div>
  </div>

  <div class="form-group col-md-12 field">
    <div class="col-md-12">
      <%= f.label :operators2 , "Operadores a cargo:"%><br>
      <%= f.select :operators2 , Operator.all.map { |j|  [ j.cc + " " + j.name , j.id ]  } , {}, {:multiple => true, class:"form-control"} %>
    </div>
  </div>

  <div class="form-group col-md-12 field">
    <div class="col-md-12">
      <%= button_tag(:type => 'submit', :class => 'btn btn-dark') do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Crear supervisor 
      <% end %>
      <%= link_to admin_supervisors_path ,:class =>"btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$("#supervisor_operators2").selectize({ plugins: ['remove_button'] });
$("#supervisor_jobs2").selectize({ plugins: ['remove_button'] });
$("#supervisor_gender").selectize({ plugins: ['remove_button'] });
$("#supervisor_transportAllowance").selectize({ plugins: ['remove_button'] });
$('#supervisor_dateadmission').datepicker({ dateFormat:'yy-mm-dd'});
$('#supervisor_childrenLicenseSince').datepicker({ dateFormat:'yy-mm-dd'});
$('#supervisor_childrenLicenseUntil').datepicker({ dateFormat:'yy-mm-dd'});
</script>