<%= stylesheet_link_tag    'selectize.bootstrap3', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'selectize', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'plugin', 'data-turbolinks-track' => true %>

<h1 class="x_title"><i class="glyphicon glyphicon-leaf titleicon"></i>Crear Supervisor</h1>

<%= form_for @supervisor , url:{action: "create"} do |f| %>
  <% if @supervisor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervisor.errors.count, "error") %> prohibited this supervisor from being saved:</h2>
      <ul>
	      <% @supervisor.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-4">
    <%= f.label :cc, "Cédula"%>
    <%= f.text_field :cc , class:"form-control"%>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :name, "Nombres"%>
    <%= f.text_field :name , class:"form-control"%>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :lastname, "Apellidos"%>
    <%= f.text_field :lastname , class:"form-control"%>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :gender, "Estado" %>
    <%= f.select :gender, ["Femenino","Masculino"], {},class:"form-control"%>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :job_id, "Cargo"%>
    <%= f.select :job_id , Job.all.map { |j|  [ j.name , j.id ]  } , {prompt: ""}, class:"form-control"%>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :dateadmission, "Fecha de ingreso"%>
    <%= f.text_field :dateadmission , class:"form-control"%>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :operators2 , "Operadores a cargo:"%><br>
    <%= f.select :operators2 , Operator.all.map { |j|  [ j.cc + " " + j.name , j.id ]  } , {}, {:multiple => true, class:"form-control"} %>
  </div>
  <div class="col-md-12">
  	<%= link_to 'Cancelar', admin_supervisors_path ,:class =>"btn btn-danger"%>
    <%= f.submit :class =>"btn btn-success"%>
  </div>
<% end %>

<script type="text/javascript">
$("#supervisor_operators2").selectize({ plugins: ['remove_button'] });
$('#supervisor_dateadmission').datepicker({ dateFormat:'yy-mm-dd'});
</script>