<p>
  <strong>Cc:</strong>
  <%= @supervisor.cc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supervisor.name.to_s + " " + @supervisor.lastname.to_s %>
</p>

<p>
  <strong>State:</strong>
  <%= @supervisor.state %>
</p>

<p>
  <strong>Position:</strong>
    <% if @supervisor.job.present? %>
      <%= @supervisor.job.name %>
    <% end %>
</p>

<p>
  <strong>Dateadmission:</strong>
  <%= @supervisor.dateadmission %>
</p>

<%= link_to 'Editar', edit_admin_supervisor_path(@supervisor),:class =>"btn btn-default" %>
<%= link_to 'Cancelar', admin_supervisors_path,:class =>"btn btn-default" %>
