<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

<h1 class="x_title"><i class="glyphicon glyphicon-leaf titleicon"></i>Listar Centros de costos</h1>
<%= link_to 'Crear centro de costos', new_costc_path , :class =>"btn btn-default pull-right"%>
<table id="datatable" class="display datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @costcs.each do |costc| %>
      <tr>
        <td><%= costc.code %></td>
        <td><%= costc.name %></td>
        <td><%= costc.description %></td>
        <td>
        <%= link_to 'Ver', costc ,:class =>"btn btn-default btn-sm"%>
        <%= link_to 'Editar', edit_costc_path(costc) ,:class =>"btn btn-default btn-sm"%>
        <%= link_to 'Eliminar', costc,:class =>"btn btn-default btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>