<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

<h1 class="x_title">
<i class="glyphicon glyphicon-leaf titleicon"></i>
Listar Centros de facturación
</h1>

<%= link_to new_admin_billingc_path , :class =>"btn btn-dark pull-right" do%>
  <span class="glyphicon glyphicon-plus"></span>
  Crear centro de facturación
<% end %>

<table id="datatable" class="display datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @billingcs.each do |billingc| %>
      <tr>
        <td><%= billingc.name %></td>
        <td><%= billingc.description %></td>
        <td>
          <%= link_to edit_admin_billingc_path(billingc),:class =>"btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Editar
          <%end%>
          <%= link_to admin_billingc_path(billingc),:class =>"btn btn-default btn-sm", method: :delete, data: { confirm: '¿Seguro desea eliminar el registro?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Eliminar
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>