<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Crear centro de facturación
</h1>

<%= form_for @billingc , url:{action: "create"} do |f| %>

  <% if @billingc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billingc.errors.count, "error") %> prohibited this billingc from being saved:</h2>
      <ul>
        <% @billingc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-12 field">
    <div class="col-md-12">
      <%= f.label :name, "Nombre"%>
      <%= f.text_field :name , class:"form-control"%>
    </div>
  </div>
  <div class="form-group col-md-12 field">
    <div class="col-md-12">
      <%= f.label :description, "Descripción"%>
      <%= f.text_area :description , class:"form-control"%>
    </div>
  </div>

  <div class="form-group col-md-12 field">
    <div class="col-md-12">
      <%= button_tag(:type => 'submit', :class => 'btn btn-dark') do %>
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Crear centro de facturación 
      <% end %>
      <%= link_to admin_billingcs_path ,:class =>"btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
      <% end %>
    </div>
  </div>
<% end %>