<p>
  <strong>Cédula:</strong>
  <%= @operator.cc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @operator.name.to_s + " " + @operator.lastname.to_s%>
</p>

<p>
  <strong>Cargo:</strong>
    <% if @operator.job.present? %>
      <%= @operator.job.name %>
    <% end %>
</p>

<p>
  <strong>Fecha de ingreso:</strong>
  <%= @operator.dateadmission %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @operator.state %>
</p>

<%= link_to 'Editar', edit_operator_path(@operator) ,:class =>"btn btn-default"%>
<%= link_to 'Cancelar', operators_path ,:class =>"btn btn-default"%>
