<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Nómina
</h1>

<table class="table table-bordered"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="active">Cédula</th>
      <th class="active">Nombre</th>
      <th class="active">Cargo</th>
      <th class="active">Básico</th>
      <th class="active">Estado</th>
      <th class="active">Fecha de ingreso</th>
      <th class="active">Fecha de retiro</th>
      <th class="active">Total a pagar</th>
    </tr>
  </thead>

  <tbody>
    <% @operators.each do |operator| %>
        <tr>
          <td><%= operator.cc %></td>
          <td><%= operator.name  + " " + operator.lastname %></td>
          <td><%= operator.jobs.map { |e| e.name }.join(", ").html_safe %></td>
          <td><%= operator.jobs.map { |e| e.basepay }.join(", ").html_safe %></td>
          <td><%= operator.state %></td>

          <% if operator.records.where(state: "Reintegrado").order("id desc").first.reinstatedate.present? %>
            <td><%= operator.records.where(state: "Reintegrado").order("id desc").first.reinstatedate %></td>
          <% else %>
            <td><%= operator.dateadmission %></td>
          <% end %>
          <% if operator.records.where(state: "Reintegrado").order("id desc").first.reinstatedate.present? %>
            <td><%= operator.records.where(state: "Retirado").order("id desc").first.retirementdate %></td>
          <% end %>
          <td><%= operator.cc %></td>
        </tr>
    <% end %>
    <% @supervisors.each do |supervisor| %>
        <tr>
          <td><%= supervisor.cc %></td>
          <td><%= supervisor.name  + " " + supervisor.lastname %></td>
          <td><%= supervisor.jobs.map { |e| e.name }.join(", ").html_safe %></td>
          <td><%= supervisor.jobs.map { |e| e.basepay }.join(", ").html_safe %></td>
          <td><%= supervisor.state %></td>
          <% if supervisor.state =="Activo" %>
            <td><%= supervisor.dateadmission %></td>
          <% elsif supervisor.state == "Reintegrado" %>
            <td><%= supervisor.records.where(state: "Reintegrado").order("id desc").first.reinstatedate %></td>
          <% elsif supervisor.state == "Retirado" %>
            <td><%= supervisor.records.where(state: "Reintegrado").order("id desc").first.reinstatedate %></td>
          <% end %>
          <td><%= supervisor.records.where(state: "Retirado").order("id desc").first.retirementdate %></td>
          <td><%= supervisor.cc %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "../files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>