<h1>Retirar Operador</h1>
<%= form_for @record, url:{action: "retired"}, html:{method: "post"} do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      	<% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	  <div class="form-group col-md-12">
	    <%= f.label :retirementdate, "Fecha de retiro" %>
	    <%= f.text_field :retirementdate , class:"form-control"%>
	  </div>
    <div class="form-group col-md-12">
      <%= f.label :description, "Motivo" %>
      <%= f.text_area :description , class:"form-control"%>
    </div>
	  <div class="col-md-12">
		<%= link_to 'Cancelar', admin_operators_path ,:class =>"btn btn-danger" %>
	  <%= f.submit :class =>"btn btn-success"%>
	  </div>
<% end %>

<script>
$('#record_retirementdate').datepicker({dateFormat:'yy-mm-dd'});
</script>