<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

<h1 class="x_title"><i class="glyphicon glyphicon-leaf titleicon"></i>Listar Cargos</h1>
<%= link_to 'Crear cargo', new_admin_job_path , :class =>"btn btn-default pull-right"%>
<table id="datatable" class="display datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.state %></td>
        <td>
        <%= link_to 'Ver', admin_job_path(job),:class =>"btn btn-default btn-sm"%>
        <%= link_to 'Editar', edit_admin_job_path(job),:class =>"btn btn-default btn-sm" %>
        <%= link_to 'Eliminar', admin_job_path(job),:class =>"btn btn-default btn-sm", method: :delete, data: { confirm: '¿Seguro desea eliminar el cargo?' } %>
        <%= link_to 'Habilitar', change_job_path(job) ,:class =>"btn btn-default btn-sm"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('#datatable').DataTable({
              "language": {
                "url": "../files/spanish"
            }
  // ajax: ...,
  // autoWidth: false,
  // pagingType: 'full_numbers',
  // processing: true,
  // serverSide: true,

  // Optional, if you want full pagination controls.
  // Check dataTables documentation to learn more about available options.
  // http://datatables.net/reference/option/pagingType
});
</script>


<script>
$(function(){
  $("#flip-1").on("change", function(){
    if ($(this).val() == "off"){
      $("#estado").html("Sistema Apagado");}
    else{
      $("#estado").html("Sistema Encendido");}
  });
});
</script>