<p>
  <strong>Nombre:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Labores asociadas:</strong>
  <br>
  <%= @job.labors.map { |e| e.code + " " + e.name }.join("<br>").html_safe %>
</p>

<%= link_to 'Editar cargo', edit_admin_job_path(@job),:class =>"btn btn-default" %>
<%= link_to 'Cancelar', admin_jobs_path, :class =>"btn btn-default" %>
