<% if @sublot.costc_id.present? %>
	<p>
	  <strong>Descripción:</strong>
	  <%= @sublot.costc.name %>
	</p>
<% end %>

<p>
  <strong>Código:</strong>
  <%= @sublot.code %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sublot.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @sublot.description %>
</p>

<%= link_to 'Editar', edit_admin_sublot_path(@sublot) ,:class =>"btn btn-default btn-sm" %>
<%= link_to 'Cancelar', admin_sublots_path ,:class =>"btn btn-default btn-sm" %>
