<%= stylesheet_link_tag    'selectize.bootstrap3', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'selectize', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'plugin', 'data-turbolinks-track' => true %>


<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Registrar novedades de operarios
</h1>

<%= form_for @transcription , url:{action: "create"} do |f| %>

  <% if @transcription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transcription.errors.count, "error") %> prohibited this transcription from being saved:</h2>
      <ul>
        <% @transcription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered" width="100%">
    <thead>
      <tr>
        <th width="200">Operario</th>
        <th width="300">Cargo</th>
        <th width="100">Centro de costos</th>
        <th width="110">Sublote</th>
        <th>Labor</th>
        <th width="80">Cantidad labor</th>
        <th width="80">Cantidad jornal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <%= f.select :operator_id , Operator.all.map { |j|  [ j.cc + " " + j.name + " " + j.lastname , j.id ]  } , {prompt: ""}, class:"form-control"%>
          </td>
          <td>
            <%= f.select :job_id , [] , {prompt: ""}, class:"form-control"%>
          </td>
          <td>
            <%= f.select :costc_id , Costc.all.map { |j|  [ j.code , j.id ]  } , {prompt: ""}, class:"form-control"%>
          </td>
          <td>
            <%= f.select :sublot_id , Sublot.all.map { |j|  [ j.code , j.id ]  } , {prompt: ""}, class:"form-control"%>
          </td>
          <td>
            <%= f.select :labor_id , Labor.all.map { |j|  [ j.code + " " + j.name , j.id ]  } , {prompt: ""}, class:"form-control"%>
          </td>
          <td>
            <%= f.text_field :laboramount , class:"form-control"%>
          </td>
          <td>
            <%= f.text_field :wageamount , class:"form-control"%>
          </td>
          <td>
            <%= button_tag(:type => 'submit', :class => 'btn btn-dark') do %>
              <i class="glyphicon glyphicon-floppy-disk"></i>
              Enviar 
            <% end %>
          </td>
        </tr>
    </tbody>
  </table>

  <div class="form-group col-md-12 field">
    <div class="pull-right">
      <%= link_to admin_transcriptions_path ,:class =>"btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
      <% end %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
$("#transcription_operators2").selectize({ plugins: ['remove_button'] });
$("#transcription_jobs2").selectize({ plugins: ['remove_button'] });
$('#transcription_dateadmission').datepicker({ dateFormat:'yy-mm-dd'});


$('#transcription_job_id').selectize();
var urlJobs = <%= admin_get_jobs_path(0).to_json.html_safe %>;
var sel_jobs  = $('#transcription_job_id')[0].selectize;

$('#transcription_operator_id').selectize({
    denyEmptyOption: true,
    onChange: function(value) {
      if (value != ""){
        sel_jobs.clearOptions();
        sel_jobs.load(function(callback) {
            $.ajax({
              dataType: "json",
              url: urlJobs + value,
              success: function(results) {
                console.log(results);
                callback(results);
              },
              error: function() {
                callback();
              }
            });
        });
      }

    }
});


</script>