<%= stylesheet_link_tag    'selectize.bootstrap3', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'selectize', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'plugin', 'data-turbolinks-track' => true %>


<h1 class="x_title">
  <i class="glyphicon glyphicon-leaf titleicon"></i>
  Registrar novedades de operarios
</h1>

<%= form_for @transcription , url:{action: "create"} do |f| %>

  <% if @transcription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transcription.errors.count, "error") %> prohibited this transcription from being saved:</h2>
      <ul>
        <% @transcription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered" width="100%">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>

            <div class="form-group col-md-12 field">
              <div class="col-md-6">
                <%= f.label :operator_id , "Operario"%>
                <%= f.select :operator_id , Operator.all.map { |j|  [ j.cc + " " + j.name + " " + j.lastname + " (" + j.jobs.first.name + ")", j.id ]  } , {prompt: ""}, class:"form-control"%>
              </div>
              <div class="col-md-3">
                <%= f.label :costc_id , "Centro de costos"%>
                <%= f.select :costc_id , Costc.all.map { |j|  [ j.code , j.id ]  } , {prompt: ""}, class:"form-control"%>
              </div>
              <div class="col-md-3">
                <%= f.label :sublot_id , "Sublote"%>
                <%= f.select :sublot_id , [] , {prompt: ""}, class:"form-control"%>
              </div>
            </div>

            <div class="form-group col-md-12 field">
              <div class="col-md-3">
                <%= f.label :labor_id , "Labor"%>
                <%= f.select :labor_id , [] , {prompt: ""}, class:"form-control"%>
              </div>
              <div class="col-md-3">
                <%= f.label :area , "Ãrea"%>
                <%= f.select :area , [] , {prompt: ""}, class:"form-control"%>
              </div>
              <div class="col-md-2">
                <%= f.label :laboramount , "Cantidad labor"%>
                <%= f.text_field :laboramount , class:"form-control"%>
              </div>
              <div class="col-md-2">
                <%= f.label :wageamount , "Cantidad jornal"%>
                <%= f.text_field :wageamount , class:"form-control"%>
              </div>
              <div class="col-md-2 text-center">
                <%= button_tag(:type => 'submit', :class => 'btn btn-dark') do %>
                  <i class="glyphicon glyphicon-floppy-disk"></i>
                  Enviar 
                <% end %>
              </div>
            </div>
            
          </td>
        </tr>
    </tbody>
  </table>

  <div class="form-group col-md-12 field">
    <div class="pull-right">
      <%= link_to admin_transcriptions_path ,:class =>"btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
      <% end %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">

var urlLabors = <%= admin_get_labors_path(0).to_json.html_safe %>;
var urlSublots = <%= admin_get_sublots_path(0).to_json.html_safe %>;

$('#transcription_sublot_id').selectize();
var sel_sublots  = $('#transcription_sublot_id')[0].selectize;

$('#transcription_costc_id').selectize({
    denyEmptyOption: true,
    onChange: function(value) {
      if (value != ""){
        sel_sublots.clearOptions();
        sel_sublots.load(function(callback) {
            $.ajax({
              dataType: "json",
              url: urlSublots  + value,
              success: function(results) {
                console.log(results);
                callback(results);
              },
              error: function() {
                callback();
              }
            });
        });
      }

    }
});

$('#transcription_labor_id').selectize();
var sel_labors  = $('#transcription_labor_id')[0].selectize;

$('#transcription_operator_id').selectize({
    denyEmptyOption: true,
    onChange: function(value) {
      if (value != ""){
        sel_labors.clearOptions();
        sel_labors.load(function(callback) {
            $.ajax({
              dataType: "json",
              url: urlLabors + value,
              success: function(results) {
                console.log(results);
                callback(results);
              },
              error: function() {
                callback();
              }
            });
        });
      }

    }
});





</script>