<h1 class="x_title"><i class="glyphicon glyphicon-leaf titleicon"></i>Crear Labor</h1>

<%= form_for @labor do |f| %>
  <% if @labor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labor.errors.count, "error") %> prohibited this labor from being saved:</h2>
      <ul>
	      <% @labor.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-4">
    <%= f.label :code , "Código"%>
    <%= f.text_field :code, class:"form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :name , "Nombre"%>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :paymentunit , "Unidad de pago"%>
    <%= f.text_field :paymentunit, class:"form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :rate , "Tarifa"%>
    <%= f.text_field :rate, class:"form-control" %>
  </div>
  <div class="form-group col-md-12">
	<%= link_to 'Cancelar', labors_path ,:class =>"btn btn-danger" %>
	<%= f.submit :class =>"btn btn-success"%>
  </div>
<% end %>
